In [1]:
#Instacart Market Basket Analysis 4 - Market Basket Analysis

In [2]:
"""Matrices
Support : Its the default popularity of an item. In mathematical terms, the support of item A is the ratio of transactions involving A to the total number of transactions.

Confidence : Likelihood that customer who bought both A and B. It is the ratio of the number of transactions involving both A and B and the number of transactions involving B.

Confidence(A => B) = Support(A, B)/Support(A)
Lift : Increase in the sale of A when you sell B.

Lift(A => B) = Confidence(A, B)/Support(B)

Lift (A => B) = 1 means that there is no correlation within the itemset.

Lift (A => B) > 1 means that there is a positive correlation within the itemset, i.e., products in the itemset, A, and B, are more likely to be bought together.

Lift (A => B) < 1 means that there is a negative correlation within the itemset, i.e., products in itemset, A, and B, are unlikely to be bought together.

Apriori Algorithm: Apriori algorithm assumes that any subset of a frequent itemset must be frequent. 
Its the algorithm behind Market Basket Analysis. Say, a transaction containing {Grapes, Apple, Mango} 
also contains {Grapes, Mango}. So, according to the principle of Apriori, if {Grapes, Apple, Mango} is frequent, 
then {Grapes, Mango} must also be frequent.
"""

'Matrices\nSupport : Its the default popularity of an item. In mathematical terms, the support of item A is the ratio of transactions involving A to the total number of transactions.\n\nConfidence : Likelihood that customer who bought both A and B. It is the ratio of the number of transactions involving both A and B and the number of transactions involving B.\n\nConfidence(A => B) = Support(A, B)/Support(A)\nLift : Increase in the sale of A when you sell B.\n\nLift(A => B) = Confidence(A, B)/Support(B)\n\nLift (A => B) = 1 means that there is no correlation within the itemset.\n\nLift (A => B) > 1 means that there is a positive correlation within the itemset, i.e., products in the itemset, A, and B, are more likely to be bought together.\n\nLift (A => B) < 1 means that there is a negative correlation within the itemset, i.e., products in itemset, A, and B, are unlikely to be bought together.\n\nApriori Algorithm: Apriori algorithm assumes that any subset of a frequent itemset must be frequent. \nIts the algorithm behind Market Basket Analysis. Say, a transaction containing {Grapes, Apple, Mango} \nalso contains {Grapes, Mango}. So, according to the principle of Apriori, if {Grapes, Apple, Mango} is frequent, \nthen {Grapes, Mango} must also be frequent.\n'

In [23]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

root = '../instacart_data_files/'

In [24]:
orders = pd.read_csv(root + 'orders.csv')
order_products_prior = pd.read_csv(root + 'order_products__prior.csv')
order_products_train = pd.read_csv(root + 'order_products__train.csv')
products = pd.read_csv(root + 'products.csv')

In [25]:
order_products_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [26]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [27]:
order_products = pd.concat([order_products_prior, order_products_train])
order_products.shape

(33819106, 4)

In [28]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [29]:
order_products['product_id'].nunique()

49685

In [30]:
print("Out of 49685 keeping top 100 most frequent products.")
product_counts = order_products.groupby('product_id')['order_id'].count().reset_index().rename(columns = {'order_id':'frequency'})
product_counts.head()

Out of 49685 keeping top 100 most frequent products.

   product_id  frequency
0           1       1928
1           2         94
2           3        283
3           4        351
4           5         16

In [31]:
product_counts = product_counts.sort_values('frequency', ascending=False)[0:100].reset_index(drop = True)
product_counts.head()

   product_id  frequency
0       24852     491291
1       13176     394930
2       21137     275577
3       21903     251705
4       47209     220877

In [32]:
product_counts.shape

(100, 2)

In [33]:
product_counts.shape

(100, 2)

In [34]:
print("Keeping 100 most frequent items in order_products dataframe")
freq_products = list(product_counts['product_id'])
freq_products[1:10]

Keeping 100 most frequent items in order_products dataframe

[13176, 21137, 21903, 47209, 47766, 47626, 16797, 26209, 27845]

In [35]:
len(freq_products)

100

In [36]:
order_products = order_products[order_products['product_id'].isin(freq_products)]
order_products.shape

(7795471, 4)

In [37]:
order_products.head()

    order_id  product_id  add_to_cart_order  reordered
1          2       28985                  2          1
5          2       17794                  6          1
10         3       24838                  2          1
12         3       21903                  4          1
14         3       46667                  6          1

In [38]:
order_products.order_id.nunique()

2444982

In [39]:
order_products = order_products.merge(products, on = 'product_id', how='left')
order_products.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2,28985,2,1,Michigan Organic Kale,83,4
1,2,17794,6,1,Carrots,83,4
2,3,24838,2,1,Unsweetened Almondmilk,91,16
3,3,21903,4,1,Organic Baby Spinach,123,4
4,3,46667,6,1,Organic Ginger Root,83,4

In [40]:
print("Structuring the data for feeding in the algorithm")

Structuring the data for feeding in the algorithm

In [41]:
basket = order_products.groupby(['order_id', 'product_name'])['reordered'].count().unstack().reset_index().fillna(0).set_index('order_id')
basket.head()

product_name,100% Raw Coconut Water,100% Whole Wheat Bread,2% Reduced Fat Milk,Apple Honeycrisp Organic,Asparagus,Bag of Organic Bananas,Banana,Bartlett Pears,Blueberries,Boneless Skinless Chicken Breasts,...,Sparkling Natural Mineral Water,Sparkling Water Grapefruit,Spring Water,Strawberries,Uncured Genoa Salami,Unsalted Butter,Unsweetened Almondmilk,Unsweetened Original Almond Breeze Almond Milk,Whole Milk,Yellow Onions
order_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
del product_counts, products, order_products, order_products_prior, order_products_train

In [43]:
print("encoding the units")

encoding the units

In [44]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1 
    
basket = basket.applymap(encode_units)
basket.head()

product_name,100% Raw Coconut Water,100% Whole Wheat Bread,2% Reduced Fat Milk,Apple Honeycrisp Organic,Asparagus,Bag of Organic Bananas,Banana,Bartlett Pears,Blueberries,Boneless Skinless Chicken Breasts,...,Sparkling Natural Mineral Water,Sparkling Water Grapefruit,Spring Water,Strawberries,Uncured Genoa Salami,Unsalted Butter,Unsweetened Almondmilk,Unsweetened Original Almond Breeze Almond Milk,Whole Milk,Yellow Onions
order_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
basket.size

244498200

In [46]:
basket.shape

(2444982, 100)

In [47]:
frequent_items = apriori(basket, min_support=0.01, use_colnames=True, low_memory=True)
frequent_items.head()

/usr/local/lib/python3.11/site-packages/mlxtend/frequent_patterns/fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                    itemsets
0  0.016062    (100% Raw Coconut Water)
1  0.025814    (100% Whole Wheat Bread)
2  0.015800       (2% Reduced Fat Milk)
3  0.035694  (Apple Honeycrisp Organic)
4  0.029101                 (Asparagus)

In [49]:
frequent_items.tail()

      support                                      itemsets
124  0.010235   (Organic Blueberries, Organic Strawberries)
125  0.010966   (Organic Raspberries, Organic Hass Avocado)
126  0.017314  (Organic Strawberries, Organic Hass Avocado)
127  0.014533   (Organic Raspberries, Organic Strawberries)
128  0.010130    (Organic Whole Milk, Organic Strawberries)

In [50]:
frequent_items.shape

(129, 2)

In [51]:
rules = association_rules(frequent_items, metric="lift", min_threshold=1)
rules.sort_values('lift', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
35,(Limes),(Large Lemon),0.059984,0.065764,0.011860,0.197723,3.006544,0.007915,1.164480,0.709980
34,(Large Lemon),(Limes),0.065764,0.059984,0.011860,0.180345,3.006544,0.007915,1.146843,0.714372
52,(Organic Raspberries),(Organic Strawberries),0.058325,0.112711,0.014533,0.249174,2.210731,0.007959,1.181751,0.581582
53,(Organic Strawberries),(Organic Raspberries),0.112711,0.058325,0.014533,0.128940,2.210731,0.007959,1.081069,0.617230
36,(Organic Avocado),(Large Lemon),0.075348,0.065764,0.010538,0.139862,2.126728,0.005583,1.086147,0.572966
37,(Large Lemon),(Organic Avocado),0.065764,0.075348,0.010538,0.160244,2.126728,0.005583,1.101097,0.567088
47,(Organic Strawberries),(Organic Blueberries),0.112711,0.042956,0.010235,0.090809,2.114024,0.005394,1.052633,0.593909
46,(Organic Blueberries),(Organic Strawberries),0.042956,0.112711,0.010235,0.238274,2.114024,0.005394,1.164840,0.550621
49,(Organic Hass Avocado),(Organic Raspberries),0.090339,0.058325,0.010966,0.121389,2.081257,0.005697,1.071777,0.571115
48,(Organic Raspberries),(Organic Hass Avocado),0.058325,0.090339,0.010966,0.188018,2.081257,0.005697,1.120298,0.551699
24,(Organic Fuji Apple),(Banana),0.037992,0.200938,0.014378,0.378441,1.883367,0.006744,1.285576,0.487559
25,(Banana),(Organic Fuji Apple),0.200938,0.037992,0.014378,0.071552,1.883367,0.006744,1.036147,0.586984
4,(Bag of Organic Bananas),(Organic Raspberries),0.161527,0.058325,0.017294,0.107065,1.835662,0.007873,1.054584,0.542936
5,(Organic Raspberries),(Bag of Organic Bananas),0.058325,0.161527,0.017294,0.296508,1.835662,0.007873,1.191874,0.483433
3,(Organic Hass Avocado),(Bag of Organic Bananas),0.090339,0.161527,0.026487,0.293199,1.815175,0.011895,1.186294,0.493688
2,(Bag of Organic Bananas),(Organic Hass Avocado),0.161527,0.090339,0.026487,0.163981,1.815175,0.011895,1.088087,0.535603
14,(Honeycrisp Apple),(Banana),0.034078,0.200938,0.012122,0.355725,1.770317,0.005275,1.240249,0.450481
15,(Banana),(Honeycrisp Apple),0.200938,0.034078,0.012122,0.060329,1.770317,0.005275,1.027936,0.544551
38,(Organic Avocado),(Organic Baby Spinach),0.075348,0.102948,0.013207,0.175281,1.702625,0.005450,1.087707,0.446299
39,(Organic Baby Spinach),(Organic Avocado),0.102948,0.075348,0.013207,0.128289,1.702625,0.005450,1.060733,0.460031
50,(Organic Strawberries),(Organic Hass Avocado),0.112711,0.090339,0.017314,0.153616,1.700440,0.007132,1.074762,0.464242
51,(Organic Hass Avocado),(Organic Strawberries),0.090339,0.112711,0.017314,0.191659,1.700440,0.007132,1.097666,0.452825
12,(Cucumber Kirby),(Banana),0.040789,0.200938,0.013432,0.329296,1.638788,0.005236,1.191377,0.406368
13,(Banana),(Cucumber Kirby),0.200938,0.040789,0.013432,0.066844,1.638788,0.005236,1.027922,0.487814
42,(Organic Hass Avocado),(Organic Baby Spinach),0.090339,0.102948,0.014787,0.163679,1.589929,0.005486,1.072618,0.407889
43,(Organic Baby Spinach),(Organic Hass Avocado),0.102948,0.090339,0.014787,0.143632,1.589929,0.005486,1.062232,0.413622
55,(Organic Strawberries),(Organic Whole Milk),0.112711,0.058411,0.010130,0.089873,1.538645,0.003546,1.034569,0.394547
54,(Organic Whole Milk),(Organic Strawberries),0.058411,0.112711,0.010130,0.173423,1.538645,0.003546,1.073449,0.371794
20,(Organic Avocado),(Banana),0.075348,0.200938,0.022745,0.301866,1.502282,0.007605,1.144568,0.361591
21,(Banana),(Organic Avocado),0.200938,0.075348,0.022745,0.113194,1.502282,0.007605,1.042677,0.418423
30,(Seedless Red Grapes),(Banana),0.035480,0.200938,0.010534,0.296906,1.477596,0.003405,1.136493,0.335115
31,(Banana),(Seedless Red Grapes),0.200938,0.035480,0.010534,0.052425,1.477596,0.003405,1.017883,0.404506
7,(Organic Strawberries),(Bag of Organic Bananas),0.112711,0.161527,0.026463,0.234787,1.453551,0.008257,1.095739,0.351666
6,(Bag of Organic Bananas),(Organic Strawberries),0.161527,0.112711,0.026463,0.163832,1.453551,0.008257,1.061136,0.372140
32,(Strawberries),(Banana),0.061123,0.200938,0.017661,0.288936,1.437931,0.005379,1.123754,0.324384
33,(Banana),(Strawberries),0.200938,0.061123,0.017661,0.087891,1.437931,0.005379,1.029347,0.381143
45,(Organic Baby Spinach),(Organic Strawberries),0.102948,0.112711,0.016267,0.158014,1.401939,0.004664,1.053805,0.319605
44,(Organic Strawberries),(Organic Baby Spinach),0.112711,0.102948,0.016267,0.144326,1.401939,0.004664,1.048358,0.323122
10,(Bag of Organic Bananas),(Organic Yellow Onion),0.161527,0.048146,0.010460,0.064756,1.344989,0.002683,1.017760,0.305913
11,(Organic Yellow Onion),(Bag of Organic Bananas),0.048146,0.161527,0.010460,0.217252,1.344989,0.002683,1.071191,0.269474
16,(Large Lemon),(Banana),0.065764,0.200938,0.017603,0.267663,1.332062,0.004388,1.091111,0.266832
17,(Banana),(Large Lemon),0.200938,0.065764,0.017603,0.087602,1.332062,0.004388,1.023934,0.311971
0,(Bag of Organic Bananas),(Organic Baby Spinach),0.161527,0.102948,0.021517,0.133208,1.293944,0.004888,1.034911,0.270932
1,(Organic Baby Spinach),(Bag of Organic Bananas),0.102948,0.161527,0.021517,0.209007,1.293944,0.004888,1.060026,0.253239
40,(Organic Avocado),(Organic Strawberries),0.075348,0.112711,0.010254,0.136095,1.207468,0.001762,1.027068,0.185822
41,(Organic Strawberries),(Organic Avocado),0.112711,0.075348,0.010254,0.090980,1.207468,0.001762,1.017197,0.193647
9,(Organic Whole Milk),(Bag of Organic Bananas),0.058411,0.161527,0.011288,0.193253,1.196413,0.001853,1.039326,0.174352
8,(Bag of Organic Bananas),(Organic Whole Milk),0.161527,0.058411,0.011288,0.069883,1.196413,0.001853,1.012335,0.195794
29,(Banana),(Organic Whole Milk),0.200938,0.058411,0.013368,0.066529,1.138984,0.001631,1.008697,0.152710
28,(Organic Whole Milk),(Banana),0.058411,0.200938,0.013368,0.228866,1.138984,0.001631,1.036216,0.129594
19,(Banana),(Limes),0.200938,0.059984,0.013539,0.067380,1.123292,0.001486,1.007930,0.137360
18,(Limes),(Banana),0.059984,0.200938,0.013539,0.225713,1.123292,0.001486,1.031996,0.116763
23,(Organic Baby Spinach),(Banana),0.102948,0.200938,0.021839,0.212133,1.055712,0.001152,1.014209,0.058829
22,(Banana),(Organic Baby Spinach),0.200938,0.102948,0.021839,0.108683,1.055712,0.001152,1.006435,0.066043
27,(Banana),(Organic Strawberries),0.200938,0.112711,0.023857,0.118728,1.053382,0.001209,1.006827,0.063420
26,(Organic Strawberries),(Banana),0.112711,0.200938,0.023857,0.211665,1.053382,0.001209,1.013607,0.057114